body {
	background-color: #1a1a1a;
	color: #ffffff;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
}

header {
	background-color: #333333;
	padding: 5px;
	text-align: center;
}

header h1 a {
	color: #ffffff;
	text-decoration: none;
}

div.videos {
	justify-content: center;
	align-items: center;
	width: 80%;
	margin: auto;
	padding-bottom: 50px;
	text-align: center;
}

div.videos video {
	display: block;
	margin: 20px auto;
	border-radius: 10px;
	background-color: #000000;
	width: 960px;
	max-width: 960px;
	height: 720px;
	max-height: 720px;
}

div.videos video.fullsize {
	width: 960px;
	height: 720px;
}

div.videos p.eov {
	padding-bottom: 60px;
}

div.videos p a {
	color: #ffffff;
}

div.videos p a:hover {
	color: #dddddd;
}

div.videos p {
	padding-bottom: 50px;
}

footer {
	background-color: #333333;
	padding: 10px;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.separator {
	padding-bottom: 60px;
}